<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <img src="./../../assets/icon/Imagen Login.png">
  <ion-card-title>Bienvenido</ion-card-title>
</ion-card>
<ion-label id="nombre">Nombre de Usuario</ion-label>
<ion-input type="text" id="nombre" placeholder="ingrese su nombre de usuario aquí"></ion-input>
<ion-label id="contraseña">Contraseña</ion-label>
<ion-input type="password" id="contraseña" placeholder="ingrese su contraseña aquí"></ion-input>
<ion-button routerLink="/lista-participantes">Iniciar sesión</ion-button>

</ion-content>
