<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>Lista de Participantes</p>
  </ion-content>
  <ion-footer>
    <a routerLink="/login" style="color: red;">salir</a>
  </ion-footer>
</ion-menu>
<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br/>
    <ion-title>listaParticipantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-mostrar-participante *ngFor="let parti of participantes" [participante]="parti"
  (participanteDesactivado)="activarParticipante($event)"
  ></app-mostrar-participante>
  
</ion-content>
